
.everything{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    flex-direction: row;
}
.card{
    margin: 10px
}
.carList{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgsize{
    height: 180px;
}
.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcome{
    text-align: center;
    font-size: 40px;
}
.currency_font{
    font-size: medium;
    font-style: oblique;
}
.modal_a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}