﻿@model EntityLayer.Model.ViewModel.HoteldetailsViewModel

@{
    ViewBag.Title = "HotelDetails";
}
<link href="~/Content/carListstyle.css" rel="stylesheet" />

<link href="~/Content/packagestyle.css" rel="stylesheet" />

<h2>HotelDetails</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>HoteldetailsViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", id = "city" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date", id = "date" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-default" onclick="customers();" />
            </div>

        </div>
    </div>
    <section class="sec1">
        <div class="everything carList" id="customercarlist" style="margin-bottom: 0">
            <!-- Dynamically Rendered CarList -->
        </div>
    </section>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function customers() {
        var cusObj = {

            City: $("#city").val(),
            Date: $("#date").val(),
        };
        //var City = $("#city").val();
       
        var hoteldata;

        $.ajax({
            url: 'https://localhost:44376/api/Hoteldetails',
            type: 'POST',
            data: cusObj,
            async: false,
            dataType: 'json',


            success: function (data) {
                debugger
                alert("Successfully!");
                // var Date = $("#date").val();
                hoteldata = JSON.parse(data);
                for (var i = 0; i < hoteldata.length; i++) {
                    $('#customercarlist').append(
                        '<div class="card col-md-3 bgcolor" onClick="toPack(\'' + hoteldata[i].HotelId + '\')">' +
                        '<img src = "../Images/hotel1.jpg" class= "card-img-top imgsize" alt = " Photo" />' +
                        '<div class="card-body center">' +
                        '<h5 class="card-title"> <b>HotelName</b>' + hoteldata[i].HotelName + ' ' + hoteldata[i].City + '</h5>' +
                        '<p class="card-text">' + hoteldata[i].Address + '</p>' +
                        '<p class="card-text">' + hoteldata[i].Pincode + '</p>' +
                        '<p class="card-text">' + hoteldata[i].ContactNo + '</p>' +
                        '<p class="card-text"' + hoteldata[i].Website + '</p>' +
                        '</div>' +
                        '</div >'
                    );
                }

                console.log(typeof (hoteldata));

                console.log(data.City);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(JSON.parse(jqXHR.responseText));
            }
        });
    }

    function toPack(value,date) {
        console.log(value);
         console.log(date);
        //window.location.href = '/CustomerMVC/Rooms?hotelId=' + value;
        window.open("https://localhost:44309/CustomerMVC/Rooms?hotelId=" + value + "&Date=" + date)
    }
</script>
