﻿
@{
    ViewBag.Title = "Rooms";
}

<link href="~/Content/carListstyle.css" rel="stylesheet" />

<link href="~/Content/packagestyle.css" rel="stylesheet" />
<h2>Rooms</h2>


<section class="sec1">
    <div class="everything carList" id="customercarlist" style="margin-bottom: 0">
        <!-- Dynamically Rendered CarList -->
    </div>
</section>
@{
    var hotelId = Request.QueryString["hotelId"];
    var date = Request.QueryString["Date"];
}
<div>
    @Html.ActionLink("Back to Hotel", "HotelDetails")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!--Imported Scripts-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var urlParams = new URLSearchParams(window.location.search);
        var hotelId = urlParams.get("hotelId");
        var date = urlParams.get("Date");

        $.ajax({

            url: 'https://localhost:44376/api/RoomDetails',
            type: 'GET',

            data: { HotelId: hotelId, Date: date },
            async: false,
            dataType: 'json',


            success: function (data) {
                roomdata = JSON.parse(data);
                console.log(roomdata);
                for (var i = 0; i < roomdata.length; i++) {
                    var catrgory;
                    if (roomdata[i].RoomCategory == 1) {
                        catrgory = "size >35 m2";
                    }
                    if (roomdata[i].RoomCategory == 2) {
                        catrgory = "size 36-50 m2";
                    }
                    if (roomdata[i].RoomCategory == 3) {
                        catrgory = "size 51-100 m2";
                    }
                    $('#customercarlist').append(
                        '<div class="card col-md-3 bgcolor" onClick="toPack()">' +
                        '<img src = "../Images/hotel1.jpg" class= "card-img-top imgsize" alt = " Photo" />' +
                        '<div class="card-body center">' +
                        '<h5 class="card-title"> <b>RoomNo</b>' + roomdata[i].RoomNo + ' ' + roomdata[i].RoomPrice + '</h5>'+ 
                      
                        '<p class="card-text"> <b>Category</b>' + catrgory + '</p>' +
                        
                        '</div>' +
                        '</div >');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(JSON.parse(jqXHR.responseText));
            }
        });

    });
</script>
